<html>
  <head>
    <title>Bienvenue sur The Gossip Project</title>
  </head>
  <body>
    <h1>Ici on est dans le USER/INDEX.html.erb> !</h1><br>
    <p>
    	<a href="<%=new_user_path%>" class="btn btn-success">Créer votre compte utilisateur</a>
    </p>
    
  </body>
</html>