<html>
  <head>
    <title>Bienvenue sur The Gossip Project!</title>
  </head>
  <body>
    <h1>Bienvenue dans la communauté de The Gossip Project!</h1><br>
    <button type="button" class="btn btn-outline-info"><a href="<%= gossips_path %>"> Revenir sur la page Gossips</a></button>
    
  </body>
</html>